<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security secured-annotations="enabled"/>

    <http entry-point-ref="casProcessingFilterEntryPoint" use-expressions="false" disable-url-rewriting="false">
        <csrf disabled="true"/>
        <anonymous/>
        <remember-me/>
        <!--登录监测页面 -->
        <intercept-url pattern="/j_spring_cas_security_check" access="IS_AUTHENTICATED_ANONYMOUSLY"/>

        <!-- 公共资源 -->
        <intercept-url pattern="/assets/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/casfailed.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_USER"/>

        <custom-filter ref="casProcessingFilter" position="CAS_FILTER" />
        <custom-filter ref="casLogoutCallbackFilter" after="LOGOUT_FILTER"/>
        <custom-filter ref="casLogoutFilter" position="LOGOUT_FILTER"/>
    </http>

    <!-- Cas configure -->
    <beans:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
        <beans:property name="service"
                        value="${sys.com.ncss.corp.website.protocol}://${sys.com.ncss.corp.website.jbossweb.virtual_host}/j_spring_cas_security_check"/>
        <beans:property name="sendRenew" value="false"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="casAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="casProcessingFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationFailureHandler">
            <beans:bean class="com.chsi.account.cas.provider.ChsiSimpleUrlAuthenticationFailureHandler">
                <beans:property name="defaultFailureUrl" value="/casfailed.html"/>
            </beans:bean>
        </beans:property>
        <beans:property name="authenticationDetailsSource">
            <beans:bean class=" org.springframework.security.web.authentication.WebAuthenticationDetailsSource"/>
        </beans:property>
        <beans:property name="filterProcessesUrl" value="/j_spring_cas_security_check"/>
    </beans:bean>

    <beans:bean id="casProcessingFilterEntryPoint" class="com.chsi.framework.cas.ChsiCasProcessingFilterEntryPoint">
        <beans:property name="loginUrl"
                        value="${sys.com.ncss.corp.website.account_server_protocol}://${sys.com.ncss.corp.website.account_server_name}/passport/login"/>
        <beans:property name="serviceProperties" ref="serviceProperties"/>
    </beans:bean>

    <beans:bean id="casAuthenticationProvider" class="com.chsi.account.cas.provider.CasAuthenticationProvider">
<!--        <beans:property name="userDetailsService" ref="userDetailsService"/>-->
        <beans:property name="serviceProperties" ref="serviceProperties"/>
        <beans:property name="ticketValidator">
            <beans:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
                <beans:constructor-arg index="0"
                                       value="${sys.com.ncss.corp.website.account_server_protocol}://${sys.com.ncss.corp.website.account_server_name}/passport"/>
            </beans:bean>
        </beans:property>
        <beans:property name="key" value="cas_auth_provider_id_chsi20090209"/>
    </beans:bean>

    <beans:bean id="jedisProvider" class="com.chsi.jedis.ha.client.JedisHAProvider">
        <beans:constructor-arg index="0" value="expiredTicketCluster"/>
    </beans:bean>

    <!-- Cas logout -->
    <beans:bean id="expiredTicketCache" class="com.chsi.framework.springsecurity.cas.JedisBasedExpiredTicketCache">
        <beans:property name="jedisProvider" ref="jedisProvider"/>
    </beans:bean>

    <beans:bean id="casLogoutCallbackFilter"
                class="com.chsi.framework.springsecurity.cas.filter.CasLogoutCallbackFilter">
        <beans:property name="filterProcessesUrl" value="/j_spring_cas_security_check"/>
        <beans:property name="expiredTicketCache" ref="expiredTicketCache"/>
    </beans:bean>

    <beans:bean id="casLogoutFilter" class="com.chsi.framework.springsecurity.cas.filter.CasLogoutFilter">
        <beans:property name="filterProcessesUrl" value="/logout.html"/>
        <beans:property name="logoutSuccessUrl" value="/"/>
        <beans:property name="logoutHandlers">
            <beans:list>
                <beans:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler">
                    <beans:property name="invalidateHttpSession" value="true"/>
                </beans:bean>
            </beans:list>
        </beans:property>
        <beans:property name="serviceProperties" ref="serviceProperties"/>
        <beans:property name="logoutUrl"
                        value="${sys.com.ncss.corp.website.account_server_protocol}://${sys.com.ncss.corp.website.account_server_name}/passport/logout"/>
        <beans:property name="expiredTicketCache" ref="expiredTicketCache"/>
    </beans:bean>
<!--    <beans:import resource="pubcodes.xml"/>-->

</beans:beans>
