<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://t2.chei.com.cn/ncss/student/img/favicon.ico" type="image/x-icon" />
    <title>404</title>
    <style>
        body {
            background: rgb(240, 249, 255);
        }
        .cont-bl {
            width: 1180px;
            margin: 0 auto;
        }
        .main {
            min-height: 400px;
            padding: 130px 0px 100px 650px;
            background: url(https://t1.chei.com.cn/common/error/images/gaokao-error-icon.png) no-repeat 180px 0px;
            margin-top: 60px;
        }
        .msg h3 {
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div class="cont-bl">
        <div class="main">
            <div class="msg">
                <h3>404 Not Found</h3>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://t1.chei.com.cn/common/ch/browser/least-ie11.min.js"></script>
</html>